body{
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #6397eb;
    color: #0062ff;
    background-color: lightpink;
}
img{
    width:350px;
    height: 350px;
    }